.DS_Store
deploy/*
deploy/
ignore/
ignore/*
sakai/src/*
sakai/.m2/*
maven/src/*
maven/.m2/*
maven/target/*
!maven/target/sakai
db/mysql/*
tomcat/components/*
tomcat/endorsed/*
tomcat/lib/*
tomcat/webapps/*
