.DS_Store
deploy/*
deploy/
sakai/src/*
sakai/target/components/*
sakai/target/endorsed/*
sakai/target/lib/*
sakai/target/sakai/*
sakai/target/webapps/*
!sakai/target/components
!sakai/target/endorsed
!sakai/target/lib
!sakai/target/sakai
!sakai/target/webapps
sakai/.m2/*
db/mysql/*
tomcat/components/*
tomcat/endorsed/*
tomcat/lib/*
tomcat/webapps/*
